fastapi
uvicorn
pydantic
sqlalchemy 
psycopg2-binary 
pgvector 
python-dotenv
openai
langchain
unstructured[pdf]
python-docx 
python-pptx 
PyPDF2 
google-cloud-storage
langchain_community
tiktoken 
langchain-openai
pdfminer.six
pi-heif
pdf2
unstructured[pdf,pytesseract]
pdf2image 
pillow
streamlit
requests
PyMuPDF
python-docx
python-pptx



#my-rag-479515:us-central1:rag-postgres
